body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  select {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  audio {
    margin-top: 20px;
  }
  
  #audioPlayer {
    width: 300px;
    margin: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #audioPlayer audio {
    width: 100%;
  }
  
  #speechContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #voiceImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  #speechBubble {
    display: none;
    position: absolute;
    top: -20px; /* Adjust as needed */
    left: 120px; /* Adjust as needed */
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
  }
  
  #speechBubble::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent white transparent transparent;
  }
  
  #speechText {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
  