@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

body {
  font-family: 'Dosis', sans-serif;
  background-color: #fcfcfc;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  width: 100%;
}

.text-box {
  margin-top: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px; /* Add a max-width */
  padding: 20px; /* Add padding */
  box-sizing: border-box; /* Ensure padding is included in width */
}

.text-area {
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  resize: none;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  background-color: transparent;
  padding: 20px;
  box-sizing: border-box;
}

.boxContainer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  --boxSize: 6px;
  --gutter: 2px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.box {
  transform: scaleY(.4);
  height: 100%;
  width: var(--boxSize);
  background: #12E2DC;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 {
  animation-name: quiet;
}

.box2 {
  animation-name: normal;
}

.box3 {
  animation-name: quiet;
}

.box4 {
  animation-name: loud;
}

.box5 {
  animation-name: quiet;
}

@keyframes quiet {
  25% {
    transform: scaleY(.6);
  }
  50% {
    transform: scaleY(.4);
  }
  75% {
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(.4);
  }
  75% {
    transform: scaleY(.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}

.speech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.speaker-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #c0bfbf;
}

.soundwave {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

button, .MuiButton-root {
  font-family: 'Dosis', sans-serif;
  margin: 5px;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
}

.embla {
  position: relative;
}

.embla__container {
  display: flex;
}

.embla__slide {
  min-width: 33.3333%;
  padding: 10px;
}

.embla__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.embla__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.embla__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.embla__button__svg {
  width: 24px;
  height: 24px;
  fill: #00aabb;
}

.embla__button--prev {
  margin-right: 10px;
}

.embla__buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-box {
  border: 2px solid #c0bfbf;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 125px;
  width: 125px;
  margin: 20px;
  overflow: hidden;
}

.carousel-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #eeeeee;
}

.carousel-box.selected {
  border: 3px solid #00aabb;
}

.carousel-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.carousel-content {
  margin-top: 10px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.carousel-box-title {
  font-size: 22px;
  font-weight: 600;
  color: #444;
  margin-bottom: 10px;
}

.carousel-box-description {
  font-size: 16px;
  color: #666;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .text-box {
    margin-top: 10%;
  }

  .embla__slide {
    min-width: 40%;
  }

  .carousel-box {
    max-width: 200px;
    width: 300px;
    padding: 10px;
  }
}

@media (max-height: 1050px) {
  .text-box {
    margin-top: 500px;
  }

  .embla__slide {
    min-width: 40%;
  }

  .carousel-box {
    max-width: 200px;
    width: 300px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .text-box {
    margin-top: 30%;
  }

  .embla__slide {
    min-width: 50%;
  }
}

@media (max-width: 600px) {
  .text-box {
    margin-top: 30%;
    height: auto;
  }

  .embla__slide {
    min-width: 100%;
  }

  .carousel-box {
    max-width: 300px;
    width: 300px;
    padding: 10px;
  }

  .carousel-image {
    width: 80px;
    height: 80px;
  }

  .carousel-content {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .text-box {
    margin-top: 60%;
    height: auto;
  }

  .embla__slide {
    min-width: 100%;
  }

  .carousel-box {
    max-width: 250px;
    width: 250px;
    padding: 10px;
  }

  .carousel-image {
    width: 80px;
    height: 80px;
  }

  .carousel-content {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .text-box {
    margin-top: 50%;
    height: auto;
  }

  .embla__slide {
    min-width: 100%;
  }

  .carousel-box {
    max-width: 280px;
    width: 280px;
    padding: 10px;
  }

  .carousel-image {
    width: 80px;
    height: 80px;
  }

  .carousel-content {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .text-box {
    margin-top: 100%;
    height: auto;
  }

  .embla__slide {
    min-width: 100%;
  }

  .carousel-box {
    max-width: 250px;
    width: 250px;
    padding: 10px;
  }

  .carousel-image {
    width: 80px;
    height: 80px;
  }

  .carousel-content {
    font-size: 14px;
  }
}
